<table class="orders watchlist table table-striped">
	<thead>
		<tr>
			<th class="small-hidden" width="30">#</th>
			<th>Ticker</th>
			<th>Amnt (pieces)</th>
			<th>Open date</th>
			<th>O. Price</th>
			<th>Close date</th>
			<th>C. Price</th>
			<th>
				Profit/Loss
				<span ng-if="actualProfitLoss">
					{{actualProfitLoss | currency:'$'}}
				</span>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in orders">
			<td class="small-hidden">{{item.id}}</td>
			<td><b><a href='https//finance.yahoo.com/quote/{{item.ticker}}' target="_blank">{{item.ticker}}</a></b></td>
			<td>{{item.amount}} ({{item.pieces}})</td>
			<td>{{item.open_date | date}}</td>
			<td>{{item.open_price * item.amount | currency:'$'}} ({{ item.open_price | currency:'$'}})</td>
			<td>
				<span ng-if="item.close_date">{{item.close_date | date}}</span>
			</td>
			<td>
				<span ng-if="item.close_date">
					{{item.close_price * item.amount | currency:'$'}} ({{ item.close_price | currency:'$'}})
				</span>
				<span class="shadow not-finished-order" ng-if="!item.close_date && openTickersPrices && openTickersPrices[item.ticker]">
					{{ openTickersPrices[item.ticker] * item.amount | currency:'$' }}
					({{ openTickersPrices[item.ticker] | currency:'$' }})
				</span>
			</td>
			<td class="profit_loss" ng-class="{red: item.close_price <= item.open_price}">
				<span ng-if="item.close_date">
					{{(item.close_price - item.open_price) * item.amount | currency:'$' }}
					| {{(item.close_price - item.open_price) / item.open_price | percent:2 }}

				</span>
				<span class="shadow not-finished-order" ng-if="!item.close_date && openTickersPrices && openTickersPrices[item.ticker]">
					{{(openTickersPrices[item.ticker] - item.open_price) * item.amount  | currency:'$' }}
					| {{(openTickersPrices[item.ticker] - item.open_price) / item.open_price | percent:2 }}
				</span>
			</td>
		</tr>
	</tbody>
</table>
