<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">There is {{ tickers.length }} tickers</h3>
        </div>
        <div class="box-body">
          <table id="tickers" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Ticker</th>
                <th>Name</th>
                <th>Note</th>
                <th>State</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="t in tickers">
                <td>{{ t.ticker }}</td>
                <td>{{ t.name }}</td>
                <td>{{ t.note }}</td>
                <td>
                  <a ng-click="delete(t.id)"><i class="fa fa-delete"></i></a>
                  <a ng-click="edit(t.id)"><i class="fa fa-edit"></i></a>
                </td>
              </tr>
              <tr ng-if="!tickers.length">
                <no-data></no-data>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>