<div class="row">
	<table class="watchlist table table-striped">
		<thead>
			<tr>
				<th width="30">#</th>
				<th>Ticker</th>
				<th>Name</th>
				<th class="small-hidden">Sector</th>
				<th class="small-hidden">Exchange</th>
				<th>Note</th>
				<th>Health</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in list">
				<td>{{item.id}}</td>
				<td><b><a href='//finance.yahoo.com/echarts?s={{item.ticker}}' ng-class="{red: !item.active}" target="_blank">{{item.ticker}}</a></b></td>
				<td>{{item.name}}</td>
				<td class="small-hidden">{{item.sector}}</td>
				<td class="small-hidden">{{item.exchange}}</td>
				<td>{{item.note}}</td>
				<td>
					<i ng-if="!indicators.watchlist[item.ticker]" title="Unknown state for ticker {{item.ticker}}">unknown</i>
					<b class="green" ng-if="indicators.watchlist[item.ticker] && indicators.watchlist[item.ticker][0] > indicators.watchlist[item.ticker][1]" title="Price({{indicators.watchlist[item.ticker][0]}}) > SMA({{indicators.watchlist[item.ticker][1]}})">
						+
					</b>
					<b style="color:red" ng-if="indicators.watchlist[item.ticker] && indicators.watchlist[item.ticker][0] <= indicators.watchlist[item.ticker][1]" title="Price({{indicators.watchlist[item.ticker][0]}}) <= SMA({{indicators.watchlist[item.ticker][1]}})">
						-
					</b>
				</td>
			</tr>
		</tbody>
	</table>
	<small ng-if="indicators.date" class="small text-right block">
		Healthy {{indicators.healthy}} ({{indicators.healthyPercent}}%) from {{indicators.total}} stocks snapshoted on {{indicators.date | date:'dd.MM.yyyy'}}
	</small>
</div>
