<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=600">

    <script src="/reload/reload.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
    <title>Sandy bot <%- (appEnv !== "PROD" ) ? "- "+appEnv : "" %></title>

    <link rel="icon" href="/images/icon.ico" type="image/x-icon" />

    <base href="/"></base>
    <link href="./styles/bootstrap.min.css" rel="stylesheet">
    <link href="./styles/navbar.css" rel="stylesheet">
    <link href="./styles/common.css" rel="stylesheet">

  </head>

  <body ng-app="sandy" ng-controller="Base">
  <%- (appEnv !== "PROD" ) ? '<div class="devBanner">'+appEnv+'</div>' : "" %>
    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <span>
                <img src="./images/icon.png" width="20"  style="position: relative; top: -4px;" />
                Sandy bot

                <span class="hidden-lg hidden-sm hidden-md small"> | capital: {{ statistics.current_capital | currency:'$' }}</span>
              </span>
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" data-toggle="collapse"  data-target="#navbar">
            <ul class="nav navbar-nav">
              <li class="home"><a href="/">Equity</a></li>
              <li class="orders"><a href="orders-grouped">Orders</a></li>
              <li class="log"><a href="log">Log</a></li>
              <li class="watchlist"><a href="watchlist">Watchlist</a></li>
              <li class="holidays"><a href="holidays">Holidays</a></li>
              <li class="config"><a href="config">Config</a></li>
              <li class="logout"><a class="text-bold" href="/logout" onClick="window.location = this.href;">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right link-small">
              <li><a href="">Cap: {{ statistics.current_capital | currency:'$' }}</a></li>
              <li><a href="">Free: {{ statistics.unused_capital | currency:'$' }}</a></li>
              <li ng-if="apiTime"><a href="">Time: {{ apiTime }}</a></li>
              <li ng-if="state.api !== null && state.ib !== null">
                <a title="{{stateTitle}}">API:
                  <i class="api-state state-left" ng-class="{on: api.api, off: !api.api}"></i><i class="api-state state-right" ng-class="{on: api.ib, off: !api.ib}"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="jumbotron" ng-view></div>

    </div> <!-- /container -->


    <script src="./vendor_js/jquery.min.js"></script>
    <script src="./vendor_js/bootstrap.min.js"></script>
    <script src="./vendor_js/ie10-viewport-bug-workaround.js"></script>

    <script src="/vendor_js/angular.min.js"></script>
    <script src="/vendor_js/angular-route.js"></script>
    <script src="/vendor_js/angular-resource.min.js"></script>
    <script src="/vendor_js/highcharts.js"></script>
    

    <script src="./scripts/config.js"></script>
    <script src="./scripts/app.js"></script>
    
    <script src="./scripts/Services/services.js"></script>

    <script src="./scripts/Controllers/Common/Base.js"></script>
    <script src="./scripts/Controllers/Common/Error404.js"></script>
    <script src="./scripts/Controllers/Common/Navigation.js"></script>
    
    <script src="./scripts/Controllers/Dashboard.js"></script>
    <script src="./scripts/Controllers/Holidays.js"></script>
    <script src="./scripts/Controllers/Orders.js"></script>
    <script src="./scripts/Controllers/Config.js"></script>
    <script src="./scripts/Controllers/Log.js"></script>
    <script src="./scripts/Controllers/Watchlist.js"></script>
    
    <script src="./scripts/Directives/Chart.js"></script>

    <script src="./scripts/Services/Resources/Statistics.js"></script>
    <script src="./scripts/Services/Resources/Equity.js"></script>
    <script src="./scripts/Services/Resources/Log.js"></script>
    <script src="./scripts/Services/Resources/Holidays.js"></script>
    <script src="./scripts/Services/Resources/Orders.js"></script>
    <script src="./scripts/Services/Resources/Config.js"></script>
    <script src="./scripts/Services/Resources/Watchlist.js"></script>
  </body>
</html>
