<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sandy bot</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    
    <script src="/reload/reload.js"></script>
    <base href="/app/" />
  </head>
  <body class="skin-blue" ng-app="sandy" ng-controller="Base">
    
  </body>
</html>