<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <script src="/reload/reload.js"></script>

  <title>Sandy bot - login</title>

  <link rel="icon" href="/images/icon.ico" type="image/x-icon" />

  <link href="./styles/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container">

    <!-- Static navbar -->
    <img src="./images/icon.png" style="width: 200px; display: block; margin: 0px auto; margin-top:50px;margin-bottom:50px; " />
    <div class="jumbotron" style="width: 500px; margin: 0px auto; ">

      <h1 style="margin-top: 0px;">
        Sandy bot
      </h1>
      <form role="form" method="post" action="/login">
        <div class="form-group">
          <label for="email">Name:</label>
          <input type="email" class="form-control" name="name" id="loginName">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <span style="color: red;"><%- (message ? "&nbsp;&nbsp;"+message : '') %></span>
      </form>
    </div>

  </div> <!-- /container -->

  <script src="./vendor_js/jquery.min.js"></script>
  <script>
    $("#loginName").focus();
  </script>
</body>
</html>
